html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

 #branding {
  margin-top: 16px;
  margin-left: 5px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  width: 230px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector {
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 155px;
  width: 230px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #000;
  background-color: #fff;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#selecttype-conference15 {
  outline: 2px solid #404040
}

#selecttype-conference16 {
  outline: 2px solid #c077f1
}

#selecttype-society {
  outline: 2px solid #f6bb2e
}

#selecttype-group {
  outline: 2px solid #ee4bf3
}

#selecttype-business {
  outline: 2px solid #1ab61a
}

#selecttype-course {
  outline: 2px solid #017cff
}

#selecttype-other {
  outline: 2px solid #01e2ff
}

#place-search {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#place-search:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

.infowindow {
  font-family: Roboto;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#infowindow h2 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
}
